---
layout: layouts/page.njk
title: Контакти
intro: Адреса, телефони, графік роботи та форма зворотного звʼязку.
permalink: /kontakty/
---
<section class="section">
  <div class="container">
    {% include "partials/contacts-block.njk" %}
  </div>
</section>
